@font-face {
	font-family: Special_Elite;
	src: local(Special_Elite), url('../css/fonts/Special_Elite/SpecialElite-Regular.ttf') format('opentype');
	}
@font-face {
	font-family: Oswald;
	src: local(Oswald), url('../css/fonts/Oswald/static/Oswald-Regular.ttf') format('opentype');
	}
@font-face {
	font-family: Berkshire;
	src: local(Berkshire), url('../css/fonts/Berkshire/BerkshireSwash-Regular.ttf') format('opentype');
	}	
@font-face {
	font-family: Fondamento;
	src: local(Fondamento), url('../css/fonts/Fondamento/Fondamento-Regular.ttf') format('opentype');
	}		
@keyframes jiggle {
  0% {
    left: 0em;
  }
  25%  {
    rotate: -3deg;
  }
  50%  {
    left: 5em;
  }
  75%  {
    rotate: 3deg;
  }
  100%  {
    left: 0em; 
  }
}

html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	}
body {
	font-family: Oswald;
	font-size: large;
	background-color: rgba(111, 111, 111, 1);
	background-image: url("../images/metal-tile-2.png");  
	background-size: 100px;

	}
#wrapper {
	min-height: 100vh;
	background-color: rgba(254, 251, 248, 0.2);

}
header {
	padding: 1em;
}
header img {
	margin-top: 1vh;
	animation-name: jiggle;
	animation-duration: 4s;
	}			
h1 {
	font-family: Special_Elite;
	margin: 0;

	}
h2 {
	background-color: rgba(249, 220, 188, .85);
	border: 2px solid #445555;
	font-family: Berkshire;
	background-image: url("../images/metal-tile-4.png");
	background-size: 66px;
	color: #ded9d7;
	text-shadow: 4px 4px 5px #484645;
	
	

	}
h3 {
	font-family: Berkshire;
}
h2, h4 {
	text-align: center;
	margin: 0;
	line-height: 1.5;
	}
nav a, li a {
	display: inline-block;
	width: 6em;
	height: 2em;
	line-height: 2em;
	background-color: #bcd9f9;
	color: #312c25;
	border: 1px solid #312c25;
	border-radius: 4px;
	text-decoration: none;
	margin: .5em;
	font-family: Fondamento;
	}
nav a:hover {
	background-color: #ccc;
	border: 1px solid #f8f9bc;
	color: #f8f9bc;
	}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	}
li a {
	display: inline-block;
	text-align: center;
	width: 6em;
	height: 2em;
	line-height: 2em;
	background-color:#bcf9dc;
	color: #312c25;
	border: 1px solid #312c25;
	text-decoration: none;
	margin: .5em 0em .5em 0em;
	}
li a:hover {
	background-color: #958470;
	}
footer {
	height: 4vh;
	border-top:0 ;
	margin-top: 5vh;
	padding-left: 1em;
	padding-right: 1em;
	}
.center-this {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
.center-text {
	text-align: center;
	}
.two-col { 
	display: grid; 
	grid-template-columns: auto auto;
	}
.two-col-battle { 
	display: grid; 
	grid-template-columns: 128px auto;
	}
.three-col { 
	display: grid; 
	grid-template-columns: auto auto 100px;
	}
.screen {
	height: 100vh;
	overflow: hidden;
	}
.overlay {
	position: relative;
	z-index: 1;
	background-color: rgba(254, 251, 248, 0.6);
	width: 100%;
	height: 100%;
	}
.selection-preview {
	font-family: Special_Elite;
	background-color: rgba(249, 220, 188, 0.7);
	border: 1px dashed #445555;
	margin: .5em;
	padding: .5em;
	}
.selection-preview img{
	width: 128px;
	height: 128px;
	}
.selection-frame {
	background-image: url("../images/coppertile2.png");  
	background-size: 6px;
	margin: auto;
	margin-top: .1em;
	margin-bottom: .1em;
	width: 128px;
	height: 128px;
	}
#character-selection-icon {

}
.text-box {	
	font-family: Special_Elite;
	line-height: 1.5;
	min-height: 10em;
	background-color: rgba(222, 222, 222, 0.6);
	border: 1px dashed #445555;
	margin: .5em;
	padding: .5em;
	position: relative;
	z-index: 1;
	text-align: left;
}
#battlefield {
	background-color: rgba(55, 55, 55, 0.25);
	border: 1px solid #445555;
	border-radius: 5px;
	padding: .5em;
	margin-top: .5em;
	}				
.enemy {
	display: block;
	width: 128px;
	height: 128x;
	}

#enemy-health-bar {
	width: 126px;
	height: 16px;
	margin-top: .5em;
	display: block;
	border: 1px solid #445555;
	border-radius: 3px;
	background-color: #445555; 
	}
#enemy-health-indicator {
	background-color: red;
	width: 85%;
	height: 15px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-radius: 3px;
	}
	
#player-health-bar {
	width: 96px;
	height: 16px;
	margin-top: .5em;
	display: block;
	border: 1px solid #445555;
	border-radius: 3px;		
	background-color: #445555;
	float: right;
	}
#player-health-indicator {
	background-color: red;
	width: 45%;
	height: 15px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-radius: 3px;
	float: right;
	}
#player-screen {
	margin-top: 1em;
	min-height: 150px;
	border-top: 1px solid #445555;
	}
.player {
	display: block;
	width: 96px;
	height: 96x;
	margin-top: .5em;
	}
.background-tile1 {
	background-color: #666;
	background-image: url("../images/battlescene1.png");  
	background-size: cover;
	background-position: center center;
	}
.stone-tile {
	background-color: #666;
	background-image: url("../images/stone-tile-1.png");  
	background-size: tile;			
	}
.wood-tile {
	background-color: #666;
	background-image: url("../images/woodland-tile.png");  
	background-size: tile;			
	}
.clouds-tile {
	background-color: #666;
	background-image: url("../images/clouds-tile-1.png");  
	background-size: tile;			
	}
.fire-tile {
	background-color: #666;
	background-image: url("../images/fire-tile-2.png");  
	background-size: tile;			
	}
.earth-tile {
	background-color: #666;
	background-image: url("../images/earth-tile.png");  
	background-size: tile;			
	}
.metal-tile {
	background-color: #666;
	background-image: url("../images/metal-tile-4.png");  
	background-size: tile;			
	}
.water-tile {
	background-color: #666;
	background-image: url("../images/water-tile.png");  
	background-size: tile;			
	}
.night-theme {
	background-color: #666;
	background-image: url("../images/night1.png");  
	background-size: 66px;

	}	

#main {
	max-width: 420px;
	background-color: #999;
	}

#main-menu-portrait {
	max-width: 164px;
	max-height: 164px;
	background-image: url("../images/fairy.png"); 
	background-size: contain;
	margin: auto;
	}
#main-menu-portrait img{
	max-width: 164px;
}
#main-menu {
	position: relative;
	z-index: 1;
}
#main-menu nav {
	margin:.5em;
	background-color: #333;
	background-image: url("../images/stars.png"); 
	background-size: 99px;
	padding: .5em;
	border-radius: 15px;
	position: relative;
	z-index: 1;


}
#main-menu nav a {
	border: 3px solid #666;
	
}
#menu-art {
	position: relative;
	z-index: 1;
	background-image: url("../images/battle-tower-2.png");
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	height: 100%;
}
#menu-art-2 {
	position: absolute;
	top: 0;
	bottom: 0;
}
#menu-art-2 img {
	position: absolute;
	bottom: 0;
	animation: jiggle 33s linear infinite;
	z-index: 0
}
#splash-screen {
	padding-top: 200px;
	padding-bottom: 100px;
	max-width: 420px;
	background-color: #999;
	box-shadow: 0px 3px #555;
	}
#selection-menu, #character-selection, #power-selection, #prepare-battle, #battle-screen, #battle-results, #main-menu, #game-over {
	display: none;
	}
#accept-character-selection-button, #accept-power-selection-button {
	background-color: #AAAFB4;
	}
#description {
	font-family: Special_Elite;
	height: 3em;
	background-color: rgba(249, 220, 188, 0.7);
	border: 1px dashed #445555;
	padding: .5em .5em .5em .5em;
	clear: both;			
	}
#foreground {
	width: 100%;
	display: block;
	}